<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>C2.3 Friend List</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

	<h1>Halmetoja's Bookstore</h1>
	<p>Welcome to the index. Project is currently under development.</p>

</body>
</html>

<!-- EXERCISE C2.4 Bookstore
We will now start to create our training project. This exercise continues through the whole course
and it will be returned to Github.
a.) Create a project called Bookstore by using Spring Initializr page (include web, devtools)
b.) Add a new controller called BookController which handle get request to the path /index 
c.) Add a new model class called Book which contains attributes: title, author, year, isbn, price
d.) Add your project to your GitHub account (See the instructions from the moodle)
Follow the recommended Spring Boot project structure 
-->